.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    order: 1;
    align-self: center;
}

.todo {
    align-self: center;
    order: 2;
}

.todo-list {
    order: 3;
}


ul li {
    align-self: start;
    list-style-type: none;

}

.btn-add {
    background-color: #e7e7e7;
    border: none;
    color: black;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 12px;
    margin-left: 10px;
}

.btn-add:hover {
    background-color: gray;
    color: white;
}

input[type=text] {
    padding: 12px 20px;
    border-radius: 12px;
    border: 2px solid #e7e7e7;
    font-size: 12px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color: gray;
}


li {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
}

.btn-remv {
    float: right;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.btn-remv:hover {

    color: tomato;
}